<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiex.mapper.xiehuan.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiex.entity.xiehuan.Notice">
    <result column="id" property="id" />
        <result column="contents" property="contents" />
        <result column="level" property="level" />
        <result column="date" property="date" />
        <result column="status" property="status" />
        <result column="statusdate" property="statusdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        contents, level, date, status, statusdate
    </sql>

</mapper>
