<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiex.mapper.xiehuan.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiex.entity.xiehuan.User">
        <result column="studentId" property="studentId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="isadmin" property="isadmin" />
        <result column="TimesBorrowed" property="TimesBorrowed" />
        <result column="NumBorrowed" property="NumBorrowed" />
        <result column="teacherId" property="teacherId" />
        <result column="classId" property="classId" />
        <result column="phone" property="phone" />
        <result column="familyName" property="familyName" />
        <result column="familyPhone" property="familyPhone" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        studentId, name, password, isadmin, TimesBorrowed, NumBorrowed, teacherId, classId, phone, familyName, familyPhone, address
    </sql>

</mapper>
